* {
    /* background-color: hsl(257, 40%, 49%); */
    /* background-image: url(./image/bg-desktop.svg); */
    color: white;
    /* font-family: sans-serif,; */
}
body {
    background-image: url(./image/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
}
.head{
    padding-left: 40px;
}
.build {
    display: flex;
}
.the {
    flex: 1;
    margin-left: 30px;
    margin-top: 70px;
}
.the h1{
    font-size: 50px;
}
.button {
    background-color: white;
    color:  hsl(257, 40%, 49%);
    border-style: hidden;
    padding: 15px 50px;
    border-radius: 30px;
    /* cursor: pointer; */
   
}
.button:hover {
    background-color: hsla(310, 98%, 49%, 0.541);
    color: white;
    cursor: pointer;
}
.src {
    margin-left: 63px;
    flex: 1;
    margin-top: 50px;
    height: auto;
}
.social {
    text-align: end;
    justify-content: flex-end;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
.social a {
    width: 150px;
    /* margin-right: 60px; */
    font-size: 17px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: none;
}

@media only screen and (max-width:375px) {
    * {
        margin-left: none;
    }
    .head {
        text-align: left;
        justify-content: left;
        padding-left: 20px;
    }
    body {
        background-image: url(./image/bg-mobile.svg);
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
        text-align: center;
    }
    .the h1{
        font-size: 30px;
    }
    .build {
        display: inline-block;
        text-align: left;

    }
    .build img {
        max-width: 80%;
        padding-left: 20px;
    }
    .head img {
        max-width: 30%;
    }
    .the{
        margin-top: 30px;
        margin-left: 20px;
        text-align: center;
        justify-content: center;
    }
    .src {
        margin-left: 10px;
        margin-top: 30px;
        /* padding-left: 20px; */
    }
    .button {
        background-color: white;
        color:  hsl(257, 40%, 49%);
        border-style: hidden;
        padding: 15px 50px;
        border-radius: 30px;
        /* cursor: pointer; */
       
    }
    .button:hover {
        background-color: hsla(310, 98%, 49%, 0.541);
        color: white;
        cursor: pointer;
    }
    .social {
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 50px;
        justify-content: center;
        text-align: center;
    }
    .social a {
        width: 50px;
       
         */
        font-size: 17px;
        height: 50px;
        padding: 5px;
        /* border-style: solid; */
        border-radius: 50%;
        background-color: none;
    }
}